/* Global Colors */

:root {
    --red: #FF5049;
    --charcoal: #555;
    --lightgray: #e7e7e7;
    --offwhite: #f7f7f7;
    --aqua: #28B9B5;
    --white: #fff;
}

/* General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: var(--charcoal);
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right {
    float: right;
}

.red {
    color: var(--red) !important
}

.red-focus:focus {
    border: 1px solid var(--red) !important;
}

.shadow {
    text-shadow: 1px 1px 5px var(--charcoal);
}

/* ===============================
Image Banner
================================== */

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url(/src/images/image1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Budget Income / Expenses */

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.budget_title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.budget_value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget_income, .budget_expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget_income {
    margin-bottom: 12px;
    background-color: var(--aqua);
    border-radius: 3px;
}

.budget_expenses {
    background-color: var(--red);
    border-radius: 3px;
}

/* text */

.budget_income-text, .budget_expenses-text {
    float: left;
    font-size: 13px;
    color: var(--charcoal);
    margin-top: 2px;
}

/* value */

.budget_income-value, .budget_expenses-value {
    letter-spacing: 1px;
    float: left;
}

/* percentage */

.budget_income-percentage, .budget_expenses-percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
    text-align: center;
}

.budget_expenses-percentage {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

/* =======================================
Control Bar
==========================================*/

.add {
    padding: 14px;
    border-bottom: 1px solid var(--lightgray);
    background-color: var(--offwhite);
}

.add_container {
    margin: 0 auto;
    text-align: center;
}

/* selector */

.add_type {
    margin-right: 10px;
    width: 55px;
    height: 44px;
    background-color: var(--white);
    color: inherit;
    border: 1px solid var(--lightgray);
    transition: border 0.3s;
    font-size: 18px;
    font-weight: 300px;
}

.add_description, .add_value {
    border: 1px solid var(--lightgray);
    background-color: var(--white);
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 3px;
    transition: border 0.3s;
}

.add_description {
    width: 400px;
}

.add_value {
    width: 100px;
}

.add_button {
    font-size: 35px;
    background: none;
    border: none;
    color: var(--aqua);
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add_button:active {
    transform: translateY(2px);
}

.add_button:focus {
    border: none;
}

.add_type:focus, .add_description:focus, .add_value:focus {
    outline: none;
    border: 1px solid var(--aqua);
}

/* CONTAINERS AND LISTS */

.container {
    width: 1000px;
    margin: 60px auto;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

.income_title {
    color: var(--aqua);
    text-align: center;
}

.expenses_title {
    color: var(--red);
    text-align: center;
}

/* Item Field */

.item {
    padding: 13px;
    border-bottom: 1px solid var(--lightgray);
}

.item:first-child {
    border-top: 1px solid var(--lightgray);
}

.item:nth-child(even) {
    background-color: var(--offwhite);
}

.item_description {
    float: left;
}

.item_value {
    float: left;
    transition: transform 0.3s;
}

.item_percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}
.item_delete {
    float: left;
}
.item_delete-btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item_delete-btn:focus { outline: none; }
.item_delete-btn:active { transform: translateY(2px); }

.item:hover .item_delete-btn { display: block; }
.item:hover .item_value { transform: translateX(-20px); }
.item:hover .item_percentage { transform: translateX(-20px); }

.income .item_value,
.income .item_delete-btn {
    color: var(--aqua);
}
.expenses .item_value,
.expenses .item_percentage,
.expenses .item_delete-btn {
    color: var(--red);
}
.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: var(--red);
}
.unpaid .item_percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item_description { font-weight: 900; }
